.body-header {
    background: #fff url('../img/header-bg.png') no-repeat;
    background-position: center right;
}

@media (min-width: 40.063em) {
    .body-header {
        height: 130px;
    }
}

.body-header .logo {
    height: 104px;
    width: 104px;
    background: url('../img/logo.png') no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.body-header .logo,
.body-header .text {
    display: inline-block;
    margin-top: 10px;
}

.body-header .text {
    margin-top: 30px;
    margin-left: 5px;
}

@media (max-width: 40.063em) {
    .body-header .logo,
    .body-header .text {
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .body-header .logo,
    .body-header .text {
        margin-top: 5px;
    }

    .body-header .text {
        margin-bottom: 5px;
    }
}

.body-header .text h1,
.body-header .text p {
    margin: 0;
    color: #2f506c;
}

.body-header .text h1 {
    font-family: 'Oswald';
    font-size: 28px;
    text-transform: uppercase;
}

.body-header .text p {
    font-family: 'Open Sans';
    font-size: 12px;
}

@media (max-width: 40.063em) {
    .body-header .text h1 {
        font-size: 24px;
    }
}

.body-footer {
    background: url('../img/footer-background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 40.063em) {
    .body-footer > .row > .columns {
        padding: 0;
    }
}

.body-footer .footer-contents {
    background: rgba(0, 0, 0, 0.75);
    padding: 15px;
}

.body-footer .footer-contents h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.body-footer .footer-contents ul,
.body-footer .footer-contents ul li {
    list-style-type: none;
    margin: 0;
}

.body-footer .footer-contents ul li {
    padding: 5px 0;
}

.body-footer .footer-contents ul li + li {
    border-top: 1px solid #333;
}

.body-footer .footer-contents ul li,
.body-footer .footer-contents ul li a {
    font-size: 14px;
    color: #ccc;
}

.body-footer .footer-contents ul li a:hover {
    color: #fff;
}

.body-footer .site-info {
    text-align: center;
}

.body-footer .site-info p {
    margin: 0;
    font-size: 11px;
    color: #fff;
}

.long-art {
    background: url('../img/long-art.jpg') repeat-x;
    background-position: center;
    background-size: cover;
    height: 5px;
}

@media (min-width: 64em) {
    .top-bar .title-area {
        display: none;
    }
}

.top-bar-container {
    margin-bottom: 15px;
}

.top-bar-container,
.top-bar,
.top-bar-section li a {
    background: #6091ba !important;
    font-family: 'Open Sans' !important;
}

.top-bar-section li.active a,
.top-bar-section li:hover a,
.top-bar-section li.has-dropdown:hover a {
    background: #4678a1 !important;
}

.top-bar-section li.has-dropdown ul.dropdown li a {
    background: #6091ba !important;
}

.top-bar-section li.has-dropdown ul.dropdown li:hover a {
    background: #365e80 !important;
}

.top-bar-section ul li a {
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width: 40.063em) {
    .top-bar-container .row .columns {
        padding: 0;
    }
}

.window {
    background: #eee;
    margin-bottom: 15px;
}

.window.clean {
    background: #fff;
}

.window > h2.title {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    font-family: 'Open Sans';
    background: #2f506c;
    color: #fff;
}

.window.clean > h2.title {
    font-size: 20px;
    background: #eee;
    line-height: 1;
    color: #2f506c;
}

.window.clean > h2.title small {
    font-size: 11px;
}

.window.clean > h2.title small a {
    color: #2f506c;
}

.window:not(.no-padding) > .content {
    padding: 10px;
}

.window > .content {
    position: relative;
    background: #f5f5f5;
}

.window.clean > .content {
    background: #fff;
}

.window > .footer {
    padding: 10px;
    background: #ececec;
    font-size: 12px;
}

.banner-carousel-container {
    background: url('../img/post-bg.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.banner-carousel .item {
    width: 100%;
}

.banner-carousel img {
    width: 100%;
    max-height: 300px;
}

.banner-carousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    padding: 10px;
    color: #fff;
    text-align: left;
}

.banner-carousel .carousel-caption h2,
.banner-carousel .carousel-caption p {
    margin: 0;
    text-shadow: 0 1px 2px #222;
}

.banner-carousel .carousel-caption h2 {
    font-size: 20px;
    color: #fff;
}

.banner-carousel .carousel-caption p {
    font-size: 12px;
}

.banner-carousel:not(:hover) .carousel-control {
    display: none;
}

.banner-slider li .image {
    background-position: center;
    background-size: cover;
    height: 300px;
}

.announcements {
    display: table;
    border: 1px solid #2F506C;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
}

.announcements div {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    padding: 5px 10px;
}

.announcements .title {
    background: #2F506C;
    font-weight: bold;
    color: #fff;
    width: 1px;
}

@media (max-width: 64em) {
    .announcements div {
        display: block;
    }

    .announcements .title {
        width: 100%;
    }
}

.announcements .content ul,
.announcements .content ul li {
    font-size: 13px;
    list-style: none;
    margin: 0;
}

.announcements .content ul li {
    display: none;
}

.announcements .content ul li .date {
    color: #999;
}

.post-cards {
    margin-top: 10px;
}

.post-cards .post {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.post-cards a.post {
    border: none;
}

.post-cards .post .image {
    background-image: url('../img/post-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}

.post-cards .post .content {
    padding: 10px;
    word-wrap: break-word;
}

.post-cards .post h2 {
    font-size: 20px;
}

.post-cards .post h2 a {
    color: #222;
}

.post-cards .post:hover h2 a {
    color: #2ba6cb;
}

.post-cards .post .description {
    font-size: 12px;
        word-wrap: break-word;
}

.post-list {
    margin-top: 10px;
}

.post-list .post {
    margin-bottom: 15px;
    overflow: hidden;
}

.post-list .post .image {
    background-image: url('../img/post-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
}

.post-list .post .content h2 {
    font-family: 'Open Sans';  
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.post-list .post .content h2 a {
    color: #222;
}

.post-list .post:hover .content h2 a {
    color: #2ba6cb;
}

.post-list .post .content .meta {
    font-size: 11px;
    color: #999;
    margin: 0;
}

.post-list .post .content .description {
    font-size: 14px;
}

@media (max-width: 40.063em) {
    .post-list .post .content h2 {
        font-size: 24px;
    }

    .post-list .post .content .description {
        font-size: 13px;
    }
}

.post-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.post-header h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.post-header p {
    font-size: 12px;
    margin-bottom: 5px;
    color: #444;
}

.gallery-photos .post {
    cursor: pointer;
}

.photo-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    cursor: pointer;
    display: none;
}

.photo-lightbox .close {
    position: fixed;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.photo-lightbox .close i {
    font-size: 28px;
    color: #fff;
}

.photo-lightbox .photo-container {
    display: table;
    height: 100%;
    width: 100%;
}

.photo-lightbox .photo-container .photo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    cursor: default;
}

.photo-lightbox .photo-container .photo img {
    box-shadow: 0 0 20px #000;
}

.principal-pic {
    text-align: center;
}

.principal-name {
    position: absolute;
    left: 10px;
    bottom: 0;
    right: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Open Sans';
    background: #2f506c;
    color: #fff;
    text-align: center;
}
.events .event {
    overflow: hidden;
    margin-bottom: 10px;
}

.events .date {
    width: 50px;
    height: 50px;
}

.events .date {
    background: #fff;
    margin-right: 5px;
    float: left;
}

.events .date span {
    display: block;
    text-align: center;
}

.events .date .month {
    background: #6B9DC7;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.events .date .day {
    font-size: 20px;
    font-weight: bold;
}

.events .event .time {
    margin: 0;
    font-size: 11px;
}

.events .event .title {
    font-size: 18px;
    margin: 0;
    margin-left: 56px;
}

.events .event .description {
    font-size: 12px;
    margin-left: 56px;
}

.event-calendar {
    width: 100%;
    overflow: hidden;
}

.event-calendar .clndr-controls {
    background: #414141;
    text-align: center;
    padding: 14px;
    color: white;
}

.event-calendar .clndr-controls .clndr-previous-button {
    float: left;
    text-align: left;
    font-weight: bold;
}

.event-calendar .clndr-controls .clndr-next-button {
    float: right;
    text-align: right;
    font-weight: bold;
}

.event-calendar .clndr-controls .clndr-previous-button,
.event-calendar .clndr-controls .clndr-next-button {
    width: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.event-calendar .clndr-controls .clndr-previous-button:hover,
.event-calendar .clndr-controls .clndr-next-button:hover {
    opacity: 0.5;
}

.event-calendar .clndr-grid .days-of-the-week {
    background: #3883a3;
    width: 100%;
}
.event-calendar .clndr-grid .days-of-the-week .header-day {
    float: left;
    width: 14.2857%;
    padding: 14px;
    text-align: center;
    color: #fff;
}

.event-calendar .clndr-grid .days {
    width: 100%;
}

.event-calendar .clndr-grid .days .day,
.event-calendar .clndr-grid .days .empty {
    float: left;
    width: 14.2857%;
    height: 66px;
    padding: 24px 0;
    text-align: center;
    background: #fafafa;
    background-size: cover;
    background-position: center;
}

.event-calendar .clndr-grid .days .day + .day {
    border-top: 2px solid #fff;
}

.event-calendar .clndr-grid .days .day.event .day-number,
.event-calendar .clndr-grid .days .empty.event .day-number {
    padding-bottom: 4px;
    border-bottom: 2px solid #3883a3;
}

.event-calendar .clndr-grid .days .day.adjacent-month .day-number,
.event-calendar .clndr-grid .days .empty.adjacent-month .day-number {
    opacity: 0.3;
}

.event-calendar .clndr-grid .days .today {
    font-weight: bold;
}

.event-calendar .clndr-grid .days .today .day-number {
    display: inline-block;
    border-radius: 100%;
    background: #3883A3;
    color: #fff;
    padding: 5px 8px;
}

.event-calendar .event-listing .event-listing-title {
    padding: 14px;
    background: #71bbd2;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

.event-calendar .event-listing .event-item {
    padding: 14px;
    color: #4f4f4f;
}

.event-calendar .event-listing .event-item-name {
    font-weight: bold;
}

.event-calendar .event-listing .event-item-datetime {
    font-size: 11px;
    color: #999;
}

.event-calendar .event-listing .event-item-description {
    font-size: 13px;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgb(33, 79, 139);
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    background: #fff;
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 0px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: 100;
    background-color: rgb(33, 79, 139);
    border-radius: 50%;
    margin-left: -25px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background: #2e6da4 !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-content {
    padding: 20px;
}

.timeline-content  p,
.timeline-content ul {
    margin-bottom: 0;
}

.timeline-content p + p {
    margin-top: 5px;
}

@media (max-width: 40.063em) {
    ul.timeline:before,
    ul.timeline > li > .timeline-panel:after,
    ul.timeline > li > .timeline-panel:before {
        display: none;
    }

    ul.timeline > li > .timeline-panel {
        width: 100%;
    }

    ul.timeline > li > .timeline-badge {
        margin-left: 0;
        left: auto;
        right: -10px;
        top: -10px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

}

table.full {
    width: 100%;
}

table.stats td {
    font-size: 12px;
    text-align: center;
}

.tabs.stats li a,
.tabs.stats li a:hover {
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    outline: none;
}

.tabs.stats li.active a {
    background: #2f506c;
    color: #fff;
}