{% extends '@site/_layouts/default.html' %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="window clean no-padding">
                <h2 class="title">Gallery</h2>
                <div class="content">
                    <div class="post-cards">
                        <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1" data-equalizer>
                            {% for gallery in galleries %}
                                <li>
                                    <div class="post" data-equalizer-watch>
                                        {% set firstPhoto = app.photos.getFirstByGallery(gallery.id) %}
                                        {% if firstPhoto %}
                                            <div class="image" style="background-image: url({{ firstPhoto.thumb ? app.upload.get(firstPhoto.thumb) : app.upload.get(firstPhoto.file) }});"></div>
                                        {% else %}
                                            <div class="image"></div>
                                        {% endif %}
                                        <div class="content">
                                            <h2><a href="{{ path('site.gallery.view', {id: gallery.id, slug: app.helper.makeSlug(gallery.name)}) }}">{{ gallery.name }}</a></h2>
                                            <div class="description">
                                                {{ gallery.description }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}